<div class="modal-header" style="text-align: center">
    <b>About Me</b>
</div>

<div class="modal-body">
    <p class="edu-heading">
        <b>What Is My Background?</b>
    </p>

    <p class="about-body">
        I'm a mother, teacher, programmer, and full-time nerd. I have been teaching high school science for the last five years,
        and have held various leadership positions in both schools in which I have taught.

    </p><br>

    <p class="edu-heading">
        <b>What Are My Goals?</b>
    </p>

    <p class="about-body">
        I have decided to make a career switch to programming, because I have been enjoying building and designing webpages in collaboration with my peers. REcently, I made a web
        site for my daycare provider, and haven't wanted to stop learning! I am open to front end, back end or full stack engineering opportunities. I may not have much
        formal experience, but I enjoy learning and learn very quickly!
    </p><br>

    <p class="edu-heading">
        <b>What Interests Me?</b>
    </p>

    <div class="row">
        <div class="col-sm-8">
            <ul class="about-body">

                <li>Time with family including my two kids, Keegan and Quinn</li>
                <li>Science and technology, including STEM education</li>
                <li>Outdoor sports such as snowboarding, running, hiking, and water skiing</li>
                <li>Giant jigsaw puzzles</li>
                <li>The Green Bay Packers!</li>

            </ul>
        </div>

        <div class="col-sm-4">
            <figure>
                <img src="images/Kids.jpeg" alt="Kids" class="img-responsive"/>
            </figure>
        </div>
    </div>
</div>

<div class="modal-footer">

</div>