<div class="modal-header" style="text-align: center">
    <b>About Me</b>
</div>

<div class="modal-body">
    <p class="edu-heading">
        <b>What Is My Background?</b>
    </p>

    <p class="about-body">
        I'm a mother, teacher, programmer, and full-time nerd. I have been teaching high school science for the last five years,
        and have held various leadership positions in both schools in which I have taught.

    </p><br>

    <p class="edu-heading">
        <b>What Are My Goals?</b>
    </p>

    <p class="about-body">
        I decided to make a career transition to the software industry because I enjoy building and designing
        websites, and helping my students learn to code. I began online tutorials in early 2016, and haven't stopped learning since!
        I am open to just about any opportunities in software. I may not have much
        formal experience, but I am excited about coding and I learn very quickly!
    </p><br>

    <p class="edu-heading">
        <b>What Interests Me?</b>
    </p>

    <div class="row">
        <div class="col-sm-8">
            <ul class="about-body">

                <li>Time with family including my two kids, Keegan and Quinn</li>
                <li>Science and technology, including STEM education</li>
                <li>Outdoor sports such as snowboarding, running, hiking, and water skiing</li>
                <li>Giant jigsaw puzzles</li>
                <li>The Green Bay Packers!</li>

            </ul>
        </div>

        <div class="col-sm-4">
            <figure>
                <img src="https://s3.amazonaws.com/aws-website-karensresum-73zwa/Images/Kids.jpeg" alt="Kids" class="img-responsive"/>
            </figure>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-lg-12">
            <div class="btn btn-lg btn-default pull-right" ng-click="$dismiss()">Close</div>
        </div>
    </div>
</div>