<div class="modal-header" style="text-align: center">
    <b>Coding Experience</b>
</div>
<div class="modal-body" id="edu-body">
    <p class="edu-heading"><b>This Website!</b></p>
    <p>I made this website. A detailed description of this site can be found on a link on the home page.<p>
    <br>
    <p class="edu-heading"><b>Abecedarian's Website</b></p>
    <p>Please visit this website to see another website I created and designed. The site was made from a blah blah database, Ruby on Rails, blah blah scooby doo</p>
    <br>
    <p class="edu-heading"><b>Robotics Programming</b></p>
    <p>I taught high school students to program their Lego MindStorm Robots, and basic coding logic.</p>
    <br>
    <p class="edu-heading"><b>Coding Tutorials</b></p>
    <p> I have learned coding both through the help of my peers, and various websites including: </p>
    <ul>
        <li>Codecademy</li>
        <li>Code School</li>
        <li>Treehouse</li>
    </ul>
    <br>
    <p class="edu-heading"> <b>Professional Involvement</b></p>
    <ul>
        <li>Volunteer and mentor for the Programming Club at Lanier High School</li>
        <li>Active Member of Women Who Code Austin</li>
        <li>Please check out my <a href="https://github.com/Klflanigan2" id="git-link" target="_blank"><b>Github Profile!</b></a></li>
    </ul>
    <br>
    <p class="edu-heading"><b>Programming Languages</b></p>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>C#</li>
    </ul>
</div>
<div class="modal-footer">

</div>