<div class="modal-header" style="text-align: center">
    <b>Education</b>
</div>
<div class="modal-body" id="edu-body">
    <p class="edu-heading"><b>University of Wisconsin - Milwaukee</b></p>
    <p>Milwaukee, WI
        <br>Secondary Science Teaching Certification-2011
        <br>Chemistry & Biology
    </p>
    <br>
    <br>
    <p class="edu-heading"><b>Marquette University</b></p>
    <p>Milwaukee, WI
        <br>Bachelor of Arts - 2008
        <br>Communication Studies & Anthropology
    </p>
</div>
<div class="modal-footer">

</div>