<div class="modal-header" style="text-align: center">
    <b>Education</b>
</div>
<div class="modal-body" id="edu-body">
    <p id="edu-heading"><b>University of Wisconsin - Milwaukee</b></p>
    <p>Milwaukee, WI</p>
    <p>Secondary Science Teaching Certification-2011</p>
    <p>Chemistry & Biology</p>
    <br>
    <br>
    <p id="edu-heading"><b>Marquette University</b></p>
    <p>Milwaukee, WI</p>
    <p>Bachelor of Arts - 2008</p>
    <p>Communication Studies & Anthropology</p>
</div>
<div class="modal-footer">

</div>