
<div class="modal-header" style="text-align: center">
    <b>Education</b>
</div>
<br>

<div class="modal-body" id="edu-body">

    <div class="row">

        <div class="col-lg-8">
            <p class="edu-heading"><b>University of Wisconsin - Milwaukee</b></p>
            <p>Milwaukee, WI
                <br>Secondary Science Teaching Certification-2011
                <br>Chemistry & Biology
            </p>
        </div>
        <div class="col-lg-4">
            <img src="images/UWM.PNG" alt="UWM Seal" height="120px" width="120px">
        </div>
    </div>
    <br>
    <br>

    <div class="row">

        <div class="col-lg-8">
            <p class="edu-heading"><b>Marquette University</b></p>
            <p>Milwaukee, WI
                <br>Bachelor of Arts - 2008
                <br>Communication Studies & Anthropology
            </p>
        </div>

        <div class="col-lg-4">
            <img src="images/MU.png" alt="MU Seal" height="120px" width="120px">
        </div>

    </div>

    <br>
    <br>

</div>
<div class="modal-footer">

</div>