<div class="modal-header" style="text-align: center">
    <b>Teaching Experience</b>
</div>
<div class="modal-body" id="edu-body">
    <p id="edu-heading"><b>Austin Independent School District</b></p>
    <p>Austin, TX</p>
    <p>Science Teacher, 2014-Present</p>
    <p>Chemistry Professional Learning Community Leader</p>
    <p>Courses Taught:</p>
    <ul>
        <li>Pre-AP Chemistry</li>
        <li>Pre-AP Biology</li>
        <li>Earth and Space Science</li>
    </ul>
    <br>
    <p id="edu-heading"><b>Milwaukee Public Schools</b></p>
    <p>Milwaukee, WI</p>
    <p>Science Teacher, 2012-2014</p>
    <p>Department Chair</p>
    <p>Courses Taught:</p>
    <ul>
        <li>AP Chemistry</li>
        <li>Robotics</li>
        <li>Chemistry</li>
        <li>Biology</li>
    </ul>
    <br>
    <p id="edu-heading"><b>University of Wisconsin - Waukesha</b></p>
    <p>Waukesha, WI</p>
    <p>University Tutor, 2009-2010</p>
    <p>Courses Tutored:</p>
        <ul>
            <li>Organic Chemistry I</li>
            <li>Zoology</li>

</ul>
    </p>
</div>
<div class="modal-footer">

</div>