<div class="modal-header" style="text-align: center">
    <b>Teaching Experience</b>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-lg-8">

            <p class="edu-heading">
                <b>Austin Independent School District</b>
            </p>

            <p class="school">
                Lanier High School
            </p>

            Austin, TX<br>
            Science Teacher, 2014-Present<br>
            Chemistry Team Leader<br>

            <p>
                Courses Taught:
            </p>

            <ul>
                <li>Pre-AP Chemistry</li>
                <li>Pre-AP Biology</li>
                <li>Earth and Space Science</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <img src="images/inLab.jpeg" alt="In the lab">

        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-12">

            <p class="edu-heading">
                <b>Milwaukee Public Schools</b>
            </p>

            <p class="school">
                Wisconsin Conservatory of Lifelong Learning
            </p>
            Milwaukee, WI<br>
            Science Teacher, 2012-2014<br>
            Department Chair<br>

            <p>
                Courses Taught:
            </p>
            <ul>
                <li>AP Chemistry</li>
                <li>Robotics</li>
                <li>Chemistry</li>
                <li>Biology</li>
            </ul>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-12">
            <p class="edu-heading">
                <b>University of Wisconsin - Waukesha</b>
            </p>
            Waukesha, WI<br>
            University Tutor, 2009-2010<br>

            <p>
                Courses Tutored:
            </p>
            <ul>
                <li>Organic Chemistry I</li>
                <li>Zoology</li>

            </ul>
        </div>
    </div>
</div>

<div class="modal-footer">

</div>