<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Karen's Resume</title>

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
</head>


<body ng-app="ResumeApp" ng-controller="indexCtrl" class="shrink-md" id="font">
    <br class="hidden-sm"/>
    <nav class="navbar-inverse" style="margin-right: 15px; margin-left: 15px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="home"><b>Karen Flanigan's Resume</b></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="about"><b>About This Website</b></a></li>
            </ul>

        </div>
    </nav>

    <div class="container-fluid">
        <div class="jumbotron jumb-col">
            <ui-view>

            </ui-view>
        </div>


        <div class="row">
            <div class="col-sm-6 col-md-3" ng-click="openAboutMeModal()">
                <div class="thumbnail tn-color">
                    <img class=center-block src="https://s3.amazonaws.com/aws-website-karensresum-73zwa/Images/female_user.png" alt="female user icon" style="width: 100px; height: 100px">
                    <div class="caption-center">
                        <h3 class="text-center"><b>About Me</b></h3>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" ng-click="openCodingModal()">
                <div class="thumbnail tn-color">
                    <img class="center-block" src="https://s3.amazonaws.com/aws-website-karensresum-73zwa/Images/code.png" alt="code icon" style="width: 100px; height: 100px">
                    <div class="caption-center">
                        <h3 class="text-center"><b>Coding Experience</b></h3>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" ng-click="openTeachModal()">
                <div class="thumbnail tn-color">
                    <img class="center-block" src="https://s3.amazonaws.com/aws-website-karensresum-73zwa/Images/flask.png" alt="flask icon" style="width: 100px; height: 100px">
                    <div class="caption-center">
                        <h3 class="text-center"><b>Teaching Experience</b></h3>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" ng-click="openEducationModal()">
                <div class="thumbnail tn-color">
                    <img class="center-block" src="https://s3.amazonaws.com/aws-website-karensresum-73zwa/Images/cap.png" alt="grad cap icon" style="width: 100px; height: 100px">
                    <div class="caption-center">
                        <h3 class="text-center"><b>Education</b></h3>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<footer>
    <p>
        Please contact me at KLFlanigan2@gmail.com
    </p>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/modals/EducationModal.js"></script>
    <script type="text/javascript" src="scripts/modals/TeachModal.js"></script>
    <script type="text/javascript" src="scripts/modals/CodingModal.js"></script>
    <script type="text/javascript" src="scripts/modals/AboutMeModal.js"></script>
</footer>
</html>
