<h4>
    I designed and built this interactive resume using the following libraries:
</h4>
    <ul id="languages">
        <li>AngularJS</li>
        <li>AngularUI Bootstrap</li>
        <li>AngularUI Router</li>
    </ul>
<h4> And of course, the following programming languages:
</h4>
    <ul id="languages">
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
    </ul>

    <br>

    <p id="About-extra">
        I had some guidance from peers, and the occasional assistance from the Stack Overflow Community!
    </p>
