<div class="row">
    <div class=" col-md-8">
        <h2 class="text-center">Hello, my name is</h2>
        <h1 class="text-center" id="my-name">Karen Flanigan</h1>
        <h3 class="text-center">I'm a science teacher-turned-computer programmer in Austin, TX. Please feel free to
            navigate this website to learn more about me!</h3>
    </div>
    <div class="col-md-4">
        <figure>
            <img src="https://s3.amazonaws.com/aws-website-karensresum-73zwa/Images/keegsAndMom.PNG" class="center-block img-fluid" id="home-pic" alt="Karen and Keegan">
            <figcaption class="text-center"> My future coder, Keegan and I.</figcaption>
        </figure>
    </div>
</div>