#font {
    font-family: "Libre Franklin", sans-serif;
}

body {
    background-image: url(../images/fish.png);

}

.jumb-col {
    background-color: #f2f2f2;
}

#languages {
    color: #a50d0d;
    font-size: 18px;
}

h4 {
    font-size: 20px;
}

.tn-color {
    background-color: #f2f2f2;
}

#my-name {
    color: #a50d0d;
    font-weight: bold;
}

.nav li {
    font-size: 20px;
    color: white;
}

.navbar-brand {
    font-size: 20px;
    color: white;
}

#home-pic {
    width: 249px;
    height: 305px;
}

@media (min-width: 992px) {
    .shrink-md {
        margin-left: 90px;
        margin-right: 90px;
    }
}

.modal-header {
    padding:16px 15px;
    border-bottom:1px solid #eee;
    background-color: #a50d0d;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-size: 25px;

}

.modal-body {
    padding-top: 15px;
    margin-bottom: 15px;
    line-height: 20px;

}

.edu-heading {

    color: darkslategrey;
    font-size: 20px;
    padding-bottom: 3px;

}

.modal-footer {
    padding: 9px 15px;
    background-color: #a50d0d;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li {
    margin-bottom: 0;
    margin-top: 3px;
}

#git-link {
    color: #a50d0d;
    text-decoration: underline;
}

.thumbnail {
    cursor: pointer; cursor: hand;
}

.school {
    font-size: 18px;
    padding-top: 5px;
}

.col-lg-4 {
    margin-top: 0;
}

.img-responsive {
    height: 275px;
    width: 150px;
    display: inline-block;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.about-body {
    padding-top: 15px;
}

footer {
    display: block;
    background-color: black;
    color: gray;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    padding: 12px 0 1px 0;
    text-align: center;
}
