body {
    background-image: url(../images/fish.png);
    font-family: Gadugi
}

.jumb-col {
    background-color: #f2f2f2;
}

.tn-color {
    background-color: #f2f2f2;
}

#my-name {
    color: #a50d0d;
    font-weight: bold;
}

.nav li {
    font-size: 20px;
}

.navbar-brand {
    font-size: 20px;
}

#home-pic {
    width: 255px;
    height: 310px;
}

@media (min-width: 992px) {
    .shrink-md {
        margin-left: 90px;
        margin-right: 90px;
    }
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #a50d0d;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-size: 25px;
}
.modal-body {
    padding-top: 15px;
    padding-bottom: 8px;
    line-height: 20px;
}

.edu-heading {
    font-family: Gadugi;
    color: darkslategrey;
    font-size: 22px;
    line-height: 4px;
    padding-bottom: 0;
}

.modal-footer {
    padding: 9px 15px;
    background-color: #a50d0d;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li {
    margin-bottom: 0;
}

#git-link {
    color: #a50d0d;
    text-decoration: underline;
}

.thumbnail {
    cursor: pointer; cursor: hand;
}

.school {
    font-size: 18px;
    padding-top: 5px;
}

.img-responsive {
    height: 275px;
    width: 150px;
    display: inline-block;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.about-body {
    padding-top: 15px;
}